Practice/HW1 02-23/HW1_Q1/HW1_Q1.VC.db
Practice/HW1 02-23/HW1_Q1/HW1_Q1.VC.VC.opendb
Practice/HW1 02-23/HW1_Q2/HW1_Q2.VC.db
Practice/HW1 02-23/HW1_Q2/HW1_Q2.VC.VC.opendb
Practice/HW2 03-02/HW2_Q1/HW2_Q1.VC.db
Practice/HW2 03-02/HW2_Q1/HW2_Q1.VC.VC.opendb
